.fab
	font-family: 'Font Awesome 5 Brands'
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	display: inline-block
	font-style: normal
	line-height: 1

@font-face
	font-family: 'Font Awesome 5 Brands'
	font-style: normal
	font-weight: normal
	font-display: swap
	src: url("./brands.woff2") format("woff2")
	unicode-range:
		U+F081-F082,
		U+F08C,
		U+F092,
		U+F099-F09B,
		U+F0D2-F0D5,
		U+F0E1,
		U+F113,
		U+F136,
		U+F13B-F13C,
		U+F15A,
		U+F167-F169,
		U+F16B-F16E,
		U+F170-F171,
		U+F173-F174,
		U+F179-F17E,
		U+F180-F181,
		U+F184,
		U+F189-F18D,
		U+F194,
		U+F198,
		U+F19A-F19B,
		U+F19E,
		U+F1A0-F1AA,
		U+F1B4-F1B7,
		U+F1BC-F1BE,
		U+F1CA-F1CC,
		U+F1D0-F1D7,
		U+F1E7-F1E9,
		U+F1ED-F1EE,
		U+F1F0-F1F5,
		U+F202-F203,
		U+F208-F209,
		U+F20D-F20E,
		U+F210-F216,
		U+F231-F232,
		U+F237,
		U+F23A-F23E,
		U+F24B-F24C,
		U+F25E,
		U+F260-F26B,
		U+F26D-F26E,
		U+F270,
		U+F27C-F27E,
		U+F280-F282,
		U+F284-F28A,
		U+F293-F294,
		U+F296-F299,
		U+F2A5-F2A6,
		U+F2A9-F2AE,
		U+F2B0-F2B4,
		U+F2B8,
		U+F2C4-F2C6,
		U+F2D5-F2DA,
		U+F2DD-F2DE,
		U+F2E0,
		U+F35C,
		U+F368-F369,
		U+F36A-F375,
		U+F378-F379,
		U+F37A-F380,
		U+F383-F385,
		U+F388,
		U+F38B-F397,
		U+F399-F39A,
		U+F39D-F39F,
		U+F3A1-F3A4,
		U+F3A6-F3B2,
		U+F3B4-F3BD,
		U+F3C0,
		U+F3C3-F3C4,
		U+F3C6-F3C8,
		U+F3CA-F3CC,
		U+F3D0,
		U+F3D2-F3DC,
		U+F3DF-F3E4,
		U+F3E6-F3EC,
		U+F3EE-F3EF,
		U+F3F3,
		U+F3F5-F3F9,
		U+F3FE,
		U+F402-F405,
		U+F407-F40D,
		U+F411-F417,
		U+F419-F421,
		U+F423,
		U+F425-F431,
		U+F44D,
		U+F452,
		U+F457,
		U+F459,
		U+F4D5,
		U+F4E4-F4E5,
		U+F4E7-F4F9,
		U+F50A-F514,
		U+F592,
		U+F59E,
		U+F5A3,
		U+F5A8,
		U+F5B2,
		U+F5B5,
		U+F5BE,
		U+F5C6,
		U+F5CC,
		U+F5CF,
		U+F5F1,
		U+F5F7,
		U+F5FA,
		U+F60F,
		U+F612,
		U+F63F,
		U+F642,
		U+F69D,
		U+F6AF,
		U+F6C9-F6CA,
		U+F6CC,
		U+F6DC,
		U+F704,
		U+F730-F731,
		U+F75D,
		U+F778,
		U+F77A-F77B,
		U+F785,
		U+F789,
		U+F78D,
		U+F790-F791,
		U+F797-F799,
		U+F7AF,
		U+F7B0-F7B1,
		U+F7B3,
		U+F7BB-F7BC,
		U+F7C6,
		U+F7D3,
		U+F7D6,
		U+F7DF,
		U+F7E0-F7E1,
		U+F7E3,
		U+F834-F842,
		U+F89E,
		U+F8A6,
		U+F8CA,
		U+F8D2,
		U+F8E1,
		U+F8E8,
		U+F907,
		U+F913,
		U+F91A,
		U+F91E,
		U+F949,
		U+F952,
		U+F955-F957
