.fas
	font-family: 'Font Awesome 5 Free'
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	display: inline-block
	font-style: normal
	font-weight: bold
	line-height: 1

@font-face
	font-family: 'Font Awesome 5 Free'
	font-style: normal
	font-weight: bold
	font-display: swap
	src: url("./solid.woff2") format("woff2")
	unicode-range:
		U+F000-F002,
		U+F004-F005,
		U+F007-F00E,
		U+F010-F013,
		U+F015,
		U+F017-F019,
		U+F01C,
		U+F01E,
		U+F021-F03E,
		U+F041-F044,
		U+F048-F04E,
		U+F050-F05B,
		U+F05E,
		U+F060-F06E,
		U+F070-F07C,
		U+F080,
		U+F083-F086,
		U+F089,
		U+F08D,
		U+F091,
		U+F093-F095,
		U+F098,
		U+F09C-F09E,
		U+F0A0-F0A1,
		U+F0A3-F0AE,
		U+F0B0-F0B2,
		U+F0C0-F0CE,
		U+F0D0-F0D1,
		U+F0D6-F0DE,
		U+F0E0,
		U+F0E2-F0E3,
		U+F0E7-F0EB,
		U+F0F0-F0F4,
		U+F0F8-F0FE,
		U+F100-F10E,
		U+F110-F111,
		U+F118-F11C,
		U+F11E,
		U+F120-F122,
		U+F124-F12E,
		U+F130-F131,
		U+F133-F135,
		U+F137-F13A,
		U+F13D-F13E,
		U+F140-F144,
		U+F146,
		U+F14A-F14B,
		U+F14D-F14E,
		U+F150-F159,
		U+F15B-F15E,
		U+F160-F165,
		U+F182-F183,
		U+F185-F188,
		U+F191-F193,
		U+F195,
		U+F197,
		U+F199,
		U+F19C-F19D,
		U+F1AB-F1AE,
		U+F1B0,
		U+F1B2-F1B3,
		U+F1B8-F1BB,
		U+F1C0-F1C9,
		U+F1CD-F1CE,
		U+F1D8,
		U+F1DA,
		U+F1DC-F1DE,
		U+F1E0-F1E6,
		U+F1EA-F1EC,
		U+F1F6,
		U+F1F8-F1FE,
		U+F200-F201,
		U+F204-F207,
		U+F20A-F20B,
		U+F217-F218,
		U+F21A-F21E,
		U+F221-F22D,
		U+F233-F236,
		U+F238-F249,
		U+F24D-F24E,
		U+F251-F25D,
		U+F26C,
		U+F271-F277,
		U+F279-F27A,
		U+F28B-F28D,
		U+F290-F292,
		U+F295,
		U+F29A,
		U+F29D-F29E,
		U+F2A0-F2A4,
		U+F2A7-F2A8,
		U+F2B5-F2B6,
		U+F2B9,
		U+F2BB-F2BD,
		U+F2C1-F2C2,
		U+F2C7-F2CE,
		U+F2D0-F2D2,
		U+F2DB-F2DC,
		U+F2E5,
		U+F2E7,
		U+F2EA,
		U+F2ED,
		U+F2F1-F2F2,
		U+F2F5-F2F6,
		U+F2F9,
		U+F2FE,
		U+F302-F305,
		U+F309-F30C,
		U+F31E,
		U+F328,
		U+F337-F338,
		U+F358-F359,
		U+F35A-F35B,
		U+F35D,
		U+F360,
		U+F362,
		U+F381-F382,
		U+F3A5,
		U+F3BE-F3C1,
		U+F3C5,
		U+F3C9,
		U+F3CD,
		U+F3D1,
		U+F3DD,
		U+F3E0,
		U+F3E5,
		U+F3ED,
		U+F3FA,
		U+F3FD,
		U+F3FF,
		U+F406,
		U+F410,
		U+F422,
		U+F424,
		U+F433-F434,
		U+F436,
		U+F439,
		U+F43A,
		U+F43C,
		U+F43F,
		U+F441,
		U+F443,
		U+F445,
		U+F447,
		U+F44B,
		U+F44E,
		U+F450,
		U+F453,
		U+F458,
		U+F45C-F45D,
		U+F45F,
		U+F461-F462,
		U+F466,
		U+F468-F46B,
		U+F46C-F46D,
		U+F470-F472,
		U+F474,
		U+F477-F479,
		U+F47D-F47F,
		U+F481-F482,
		U+F484-F487,
		U+F48B,
		U+F48D-F48E,
		U+F490-F494,
		U+F496-F497,
		U+F49E,
		U+F4AD,
		U+F4B3,
		U+F4B8-F4BA,
		U+F4BD-F4BE,
		U+F4C0-F4C2,
		U+F4C4,
		U+F4CD-F4CE,
		U+F4D3,
		U+F4D6-F4DF,
		U+F4E2-F4E3,
		U+F4FA-F509,
		U+F515-F5A7,
		U+F5AA-F5B1,
		U+F5B3-F5B4,
		U+F5B6-F5B8,
		U+F5BA-F5CE,
		U+F5D0-F5D2,
		U+F5D7,
		U+F5DA,
		U+F5DC,
		U+F5DE-F5DF,
		U+F5E1,
		U+F5E4,
		U+F5E7,
		U+F5EB,
		U+F5EE,
		U+F5FC-F5FD,
		U+F604,
		U+F610,
		U+F613,
		U+F619,
		U+F61F,
		U+F621,
		U+F62E-F62F,
		U+F630,
		U+F637,
		U+F63B-F63C,
		U+F641,
		U+F644,
		U+F647,
		U+F64A,
		U+F64F,
		U+F651,
		U+F653-F655,
		U+F658,
		U+F65D-F65E,
		U+F662,
		U+F664-F666,
		U+F669-F66B,
		U+F66D-F66F,
		U+F674,
		U+F676,
		U+F678-F679,
		U+F67B-F67C,
		U+F67F,
		U+F681-F684,
		U+F687-F689,
		U+F696,
		U+F698-F69B,
		U+F6A0-F6A1,
		U+F6A7,
		U+F6A9,
		U+F6AD,
		U+F6B6-F6B7,
		U+F6BB,
		U+F6BE,
		U+F6C0,
		U+F6C3-F6C4,
		U+F6CF,
		U+F6D1,
		U+F6D3,
		U+F6D5,
		U+F6D7,
		U+F6D9,
		U+F6DD-F6DE,
		U+F6E2-F6E3,
		U+F6E6,
		U+F6E8,
		U+F6EC-F6ED,
		U+F6F0-F6F2,
		U+F6FA,
		U+F6FC,
		U+F6FF-F700,
		U+F70B-F70C,
		U+F70E,
		U+F714-F715,
		U+F717,
		U+F71E,
		U+F722,
		U+F728-F729,
		U+F72E-F72F,
		U+F73B-F73D,
		U+F740,
		U+F743,
		U+F747,
		U+F74D,
		U+F753,
		U+F756,
		U+F75A-F75B,
		U+F75E-F75F,
		U+F769,
		U+F76B,
		U+F772-F773,
		U+F77C-F77D,
		U+F780-F781,
		U+F783-F784,
		U+F786-F788,
		U+F78C,
		U+F793-F794,
		U+F796,
		U+F79C,
		U+F79F,
		U+F7A0,
		U+F7A2,
		U+F7A4-F7A6,
		U+F7A9-F7AB,
		U+F7AD-F7AE,
		U+F7B5-F7B6,
		U+F7B9-F7BA,
		U+F7BD,
		U+F7BF,
		U+F7C0,
		U+F7C2,
		U+F7C4-F7C5,
		U+F7C9-F7CA,
		U+F7CC-F7CE,
		U+F7D0,
		U+F7D2,
		U+F7D7-F7DA,
		U+F7E4-F7E6,
		U+F7EC,
		U+F7EF,
		U+F7F2,
		U+F7F5,
		U+F7F7,
		U+F7FA-F7FB,
		U+F805-F807,
		U+F80D,
		U+F80F,
		U+F810,
		U+F812,
		U+F815-F816,
		U+F818,
		U+F829-F82A,
		U+F82F,
		U+F83E,
		U+F84A,
		U+F84C,
		U+F850,
		U+F853,
		U+F863,
		U+F86D,
		U+F879,
		U+F87B-F87D,
		U+F881-F882,
		U+F884-F887,
		U+F891,
		U+F897,
		U+F8C0-F8C1,
		U+F8CC,
		U+F8D9,
		U+F8FF,
		U+F905,
		U+F941,
		U+F95B-F96C,
		U+F96E-F972,
		U+F974-F976
