header
	position: fixed
	bottom: 2rem
	right: 2rem
	backdrop-filter: blur(5px)
	border-radius: 2rem
	background-color: rgba(black, .5)
	width: 3rem
	height: 10rem
	color: white
	& a
		margin: .5rem 0
