.flex-center
    display: flex
    justify-content: center
    align-items: center
.flex-left
    display: flex
    justify-content: left
    align-items: left

.flex-column
    flex-direction: column

.flex-row
	flex-direction: row


.no-select
    user-select: none
