.avatar
	border-radius: 50%
	border: 3px solid $red
	width: 12.5rem
	height: @width
	margin-bottom: 1rem
	box-shadow:
		0 0px 2.2px rgba($red, 0.028),
		0 0px 5.3px rgba($red, 0.04),
		0 0px 10px rgba($red, 0.05),
		0 0px 17.9px rgba($red, 0.06),
		0 0px 33.4px rgba($red, 0.072),
		0 0px 80px rgba($red, 0.1)
