doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="theme-color" content="#ff0050")
		title kataba.me
		meta(name="description", content="katabame's website")
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="@katabame")
		meta(name="twitter:title", content="kataba.me")
		meta(name="twitter:description", content="katabame's website")
		meta(name="twitter:image", content="https://kataba.me/image/header.png")

		link(rel="icon", type="image/png", href="./image/avatar.png")
		link(rel="icon", type="image/webp", href="./image/avatar.webp")
		link(rel="stylesheet", href="./style/_apply.styl", media="print", onload="this.media='all'")
		link(rel="stylesheet", href="./font/Muli/_apply.styl", media="print", onload="this.media='all'")
		link(rel="stylesheet", href="./font/Rounded_Mplus_1c/_apply.styl", media="print", onload="this.media='all'")
		link(rel="stylesheet", href="./font/FontAwesome/_apply.styl", media="print", onload="this.media='all'")

	body.flex-center.flex-column
		ul.circles
			each i in [1,2,3,4,5,6,7,8,9,10]
				li

		//- header.flex-center.flex-column
				a(data-tooltip="Home")
					i.fas.fa-home
				a(data-tooltip="Donate")
					i.fas.fa-donate
		picture
			source(type="image/webp", srcset="./image/avatar.webp")
			img.avatar.no-select(loading="lazy", decoding="async", src="./image/avatar.png", alt="avatar image", width="12.5rem", height="12.5rem")
		h1 katabame Ayame
		p
			| a.k.a. Miaya
		h5
			| CSS Nerd, Living on the Edge
		.social.flex-center.flex-row
			a.icon.button.flex-center.twitter(href="https://twitter.com/katabame", rel="external noopener noreferrer")
				i.fab &#xf099
			a.icon.button.flex-center.steam(href="https://steamcommunity.com/id/katabame", rel="external noopener noreferrer")
				i.fab &#xf1b6
			a.icon.button.flex-center.github(href="https://github.com/katabame", rel="external noopener noreferrer")
				i.fab &#xf09b
